.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 79px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 14px 27px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 28px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 79px;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 30px 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 65px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-1 .u-table-1 {
    height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 75px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-table-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 58px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 59px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 57px;
  }

  .u-section-1 .u-table-1 {
    height: 350px;
  }
}